
*{
    box-sizing: border-box!important;
}
.Footer{
    background-image: url(../../images/homepage/signup-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: calc(88vh);
    box-sizing: content-box;
    margin-top: 0px;
}
.space h1
{
    font-size: 70px;
    font-weight: 600;
}
.space button
{
    border-radius: 15px;
    width:180px;
    font-size:18px;
}